In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv')

In [4]:
#df.head()

In [2]:
#for QUESTION 1

A = [1,2,3,4,5,6]
B = [13, 21, 34]

A.extend(B)
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [3]:
#for QUESTION 2

np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [4]:
df.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [12]:

#for QUESTION 3


minimum = df['fuel_cost_per_unit_burned'].min()
series = df['fuel_cost_per_unit_burned']
minimum
minn = df[df['fuel_cost_per_unit_burned'] == df['fuel_cost_per_unit_burned'].min()]

#answer:
minn['fuel_type_code_pudl']

7733    waste
Name: fuel_type_code_pudl, dtype: object

In [45]:
#for QUESTION 4


df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   record_id                     29523 non-null  object
 1   utility_id_ferc1              29523 non-null  int64
 2   report_year                   29523 non-null  int64
 3   plant_name_ferc1              29523 non-null  object
 4   fuel_type_code_pudl           29523 non-null  object
 5   fuel_unit                     29343 non-null  object
 6   fuel_qty_burned               29523 non-null  float64
 7   fuel_mmbtu_per_unit           29523 non-null  float64
 8   fuel_cost_per_unit_burned     29523 non-null  float64
 9   fuel_cost_per_unit_delivered  29523 non-null  float64
 10  fuel_cost_per_mmbtu           29523 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

In [25]:
sd = df['fuel_mmbtu_per_unit'].describe()
sd['std'].round(3) #standard deviation

sd['75%'].round(3) #75th percentile

17.006

In [28]:
#QUESSTION 5

#https://medium.com/@atanudan/kurtosis-skew-function-in-pandas-aa63d72e20de#id_token=eyJhbGciOiJSUzI1NiIsImtpZCI6IjZlZjRiZDkwODU5MWY2OTdhOGE5Yjg5M2IwM2U2YTc3ZWIwNGU1MWYiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL2FjY291bnRzLmdvb2dsZS5jb20iLCJuYmYiOjE2Mjk0NTEwNzksImF1ZCI6IjIxNjI5NjAzNTgzNC1rMWs2cWUwNjBzMnRwMmEyamFtNGxqZGNtczAwc3R0Zy5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsInN1YiI6IjEwMTA4ODM4NTY1NTIzMzk0NjA0NCIsImVtYWlsIjoic2Ftc29uYWRlbW9sYTU2QGdtYWlsLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJhenAiOiIyMTYyOTYwMzU4MzQtazFrNnFlMDYwczJ0cDJhMmphbTRsamRjbXMwMHN0dGcuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20iLCJuYW1lIjoic2FtbXkgaWxlc2FubWkiLCJwaWN0dXJlIjoiaHR0cHM6Ly9saDMuZ29vZ2xldXNlcmNvbnRlbnQuY29tL2EvQUFUWEFKeWM3X3VodUV5YWR3U0I0V0c1MzJzNmtTVVZ3RGN6N0lUZUJESTg9czk2LWMiLCJnaXZlbl9uYW1lIjoic2FtbXkiLCJmYW1pbHlfbmFtZSI6ImlsZXNhbm1pIiwiaWF0IjoxNjI5NDUxMzc5LCJleHAiOjE2Mjk0NTQ5NzksImp0aSI6Ijk3MWU2ZWI2MDY3MjIzZjY5OTE1ZjgxNDEwMGQ3MjE4ZTNlMWZkYWQifQ.GyMHTa2rYl-twW_G1OGJxeTYj_GtGqZBwE6vXD9rTWWbl4NGP2-z6Da0sMEPey9nFbvai4qK6cqC7pf73iE9H88Xc7zA_Y3L3BpKZaDP5OoDfSBj9BRGd3sHJMiadtfkdLmSweByBqbeHsXOcOuNpDHVU8p7tWhGbX7uo2XBFwGMkgKq5ihXo6VilHn4-bMExcOw5jjNzYr2ryMQVe0QtUN0MMHCxEErRBHreAF6FDiJc1jBLu5Ox8F80Q5TzZCrg3U6kz2onEJb-AHDMv0A3_cIuuDvpDYH2zmVT4a-jDuB3Oui2OJzlPrkJMFWvfwKb5TlZ5Fdy6RR2OJKBmY6mA
#that site helped

df['fuel_qty_burned'].skew().round(2) #skewness
df['fuel_qty_burned'].kurt().round(2) #kurtosis

651.37

In [47]:

#QUESTION 7
df.isnull().sum() #gives Fuel_unit

percentage = df['fuel_unit'].isnull().value_counts(normalize = True).mul(100).round(1)
print(percentage,'%')

False    99.4
True      0.6
Name: fuel_unit, dtype: float64 %

In [ ]:
#QUESTION 8

In [54]:
#QUESTION 9

data = df.corr()
#data
correlation = data['fuel_cost_per_unit_burned']

correlation

utility_id_ferc1               -0.037863
report_year                     0.013599
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_unit_burned       1.000000
fuel_cost_per_unit_delivered    0.011007
fuel_cost_per_mmbtu            -0.000437
Name: fuel_cost_per_unit_burned, dtype: float64

In [67]:

#QUESTION 10

df.head()

#my_ = df[df['report_year'].unique()]

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [123]:
#df.report_year.unique()

my_ = df.groupby('report_year')
new_my = my_.first().head()
new_my

coal = new_my[new_my['fuel_type_code_pudl'] == 'coal']
coal
difference = coal.at[1998, 'fuel_cost_per_unit_burned'] - coal.at[1994, 'fuel_cost_per_unit_burned']
difference/coal.at[1998, 'fuel_cost_per_unit_burned']

#type(new_my)


#NONE OF THE ABOVE!!!!

0.03588839332019501

In [137]:
# grouping_ = df.groupby('report_year')
# grouped = grouping_.first()

df[df['fuel_cost_per_unit_delivered'] == df['fuel_cost_per_unit_delivered'].max()]

#DONE

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
3564,f1_fuel_1997_12_9_0_8,9,1997,peach bt 2&3,nuclear,gramsU,210474.0,0.000065,37.847,7964521.0,0.578

In [138]:
#df['fuel_cost_per_unit_delivered'].max()